<html>
    <head>
        <title>COVID-19疫情可视化</title>
        <script type="text/javascript" src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/china.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/echarts-wordcloud.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/world.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    </head>
    <body> 
        <div id="title"><h1>COVID-19疫情可视化</h1></div>
        <div id="left-top"></div>
        <div id="left-bottom"></div>
        <div id="right-top"></div>
        <div id="right-bottom"></div>
        <div id="center"></div>
        <div id="center-bottom"></div>
        <div id="center-footer"></div>
        <div id="footer">&copy;CopyRight 2020-2021 kim All Rights Reserved </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static',filename='js/left-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/left-bottom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/right-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/right-bottom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/center.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/center-bottom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/center-footer.js') }}"></script>
</html>